<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>CFBundleIdentifier</key>
        <string>org.soulsphere.wadgadget</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>WadGadget</string>
	<key>CFBundleExecutable</key>
	<string>launch.sh</string>
	<key>CFBundleGetInfoString</key>
	<string>WadGadget 0.0.99</string>
	<key>CFBundleIconFile</key>
	<string>app.icns</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>WadGadget</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.99</string>
	<key>CFBundleVersion</key>
	<string>0.0.99</string>
	<key>NSHighResolutionCapable</key>
	<string>true</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSMainNibFile</key>
	<string>launcher</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (C) 2022-2024 Simon Howard</string>

	<!-- file associations: -->

	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Doom WAD file</string>
			<key>CFBundleTypeIconFile</key>
			<string>wadfile.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleTypeExtensions</key>
			<array><string>wad</string></array>
		</dict>
	</array>
</dict>
</plist>
